node-linker=hoisted
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*turbo*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=@next/env
legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
